@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: black;

  src: local("PT Serif"), local("PTSerif-Regular"), url("http://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3ifesZW2xOQ-xsNqO47m55DA.woff2") format("woff2"), url("http://fonts.gstatic.com/s/ptserif/v8/sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);



* {
    font-family: 'PT Serif', serif;
    text-decoration:none;
}
#postdate {
	text-align: right;
}

body {
    background-color: #FFFFE0;
}

header {
   /* background-color:black;*/
    color:white;
    text-align:center;
    padding: 2%;
    font-family: "PT Sans", sans-serif;

}
nav {
    line-height:30px;
   /* background-color:#B76FB7;*/
   	padding-left: 20%; 
    height:20px; 
}

aside {
	font-size: x-small;
	right: 0;
	/*padding-right: 140px;*/
	width: 20%;
	position: absolute;
	color:black;
}

code {
font-family: "Lucida Console", Monaco, monospace;
  font-style: normal;
  font-weight: 700;

  color: navy;

}

section {
    padding-right: 20%; 
    padding-left: 12%;  
    background-color: #FFFFE0;
    height: 100%;
}
article {
  font-size: small;
  padding-left: 12%;
  padding-right: 20%;
}


footer {
    color:white;
    clear:both;
    padding:5px; 
}


fieldset {
}

h1{
	font-size:2em;
  line-height:1em;
}

div #disqus_thread {
  padding-left: 12%;
  padding-right: 20%;
}