@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|7';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';



* {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    text-decoration:none;
}

* a:link {
    color: black;
}

* a:visited {
    color: #404040;
}


#postdate {
	text-align: right;
}

body {
    background-color: #fff;
}

#nametitle {
    font-size: 1.4em;
    padding-left: 12%; 
}

/*
header {
    color:white;
    text-align:center;
    padding: 2%;
    font-family: 'Roboto Slab', serif;
}*/

nav {
    line-height:30px;
   	padding-left: 12%; 
    height:20px; 

    font-size: 0.8em;
}

aside {
	font-size: x-small;
	right: 20%;
	width: 18%;
	position: absolute;
	color:black;
}

pre {
    font-size: 100%;
    line-height: 1.2em;
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    margin: auto 10px auto 10px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 

code { 
    font-size: 90%;
    line-height: 1.2em;  
    display: inline; 
    color: #555555;
    background: #f4f4f4;
}


section {
    padding-right: 40%; 
    padding-left: 12%;  
    background-color: #fff;
    height: 100%;
    font-size:0.6em;
}

article {
  font-size: small;
  padding-left: 12%;
  padding-right: 40%;
}


footer {
    color:white;
    clear:both;
    padding:5px; 
}


fieldset {
}

h1{
	font-size:em;
  line-height:1em;
}

div #disqus_thread {
  padding-left: 12%;
  padding-right: 40%;
}