@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
@import 'https://fonts.googleapis.com/css?family=Merriweather:700';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:700';

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-decoration:none;
}

@media screen and (min-width: 550px) {
    section {
        padding-left: 12%;
        padding-right: 40%;         
    }

    article {
        padding-left: 12%;
        padding-right: 40%; 
    }

    nav { 
        padding-left: 12%; 
    }

    aside {
        right: 20%;
        width: 18%;
        position: absolute;
    }

    #nametitle {
        padding-left: 12%; 
    }

    div #disqus_thread {
        padding-left: 12%;
        padding-right: 40%;
    }
}

* a:link {
    color: black;
}

* a:visited {
    color: #404040;
}

#postlink {
    color:#c6531a;
}


#postdate {
	text-align: right;
}

body {
    background-color: #fff;
}

#nametitle {
    font-size: 1.6em;
    font-family: 'Merriweather', serif;
}

nav {
    line-height:30px;
    height:20px; 
    font-size: 0.8em;
}

aside {
    font-size: x-small;
    color:black;
}

pre {
    font-size: 100%;
    line-height: 1.2em;
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    margin: auto 10px auto 10px;
    background: #f4f4f4;
    border: solid 1px #e1e1e1

    font-family: 'Source Code Pro', monospace;
} 

code { 
    font-size: 80%;
    line-height: 1em;  
    display: inline; 
    color: #555555;
    background: #f4f4f4;

    font-family: 'Source Code Pro', monospace;
}


section {
    background-color: #fff;
    height: 100%;
    font-size:0.9em;
}

article {
  font-size: medium;
}


footer {
    color:white;
    clear:both;
    padding:5px; 
}


fieldset {
}

h1{
    font-family: 'Merriweather', serif;
    font-size:1.6em;
    line-height:1em;
}

