<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
        <link href='/normalize.css' rel='stylesheet' type='text/css'>
        <link href='/blog.css' rel='stylesheet' type='text/css'>
    </head>
    
    <body>


        <div id="nametitle">TADHG PHILIBIN E SILVA</div>
        <nav>
            <a id="home" href="/">Home</a> |
            <a id="About" href="/">About</a> |
            <a id="About" href="/">Contact</a> 
            
        </nav>    
            <article>
                

              <main id="mainContent">


                    <h2>WORK EXPERIENCE:</h2>

<hr/>

<h3>Software Engineer</h3>

<p>FINEOS, Eastpoint Business Park, Dublin 3<br/>July 2015  - Current</p>

<p>My responsibility is maintaining and implementing new features on the core FINEOS product
which is an insurance claims handling system used by many of the largest insurance providers.
It is a Java and JEE web application</p>

<p>My day to day responsibility at FINEOS can involve any number of tasks such as:</p>

<ul><li>Introducing new UI components or repurposing old ones</li><li>Refactoring legacy system components</li><li>Exposing new or maintaining old SOAP web services</li><li>Writing JUnit tests</li><li>Automating build processes with Gradle and Jenkins</li><li>Fixing automated Selenium tests.</li></ul>

<p>FINEOS is deployed across several different application servers, primarily Apache Tomcat, and
uses multiple database systems such as Oracle, IBM DB2 and SQLServer.</p>

<hr/>

<h3>Teaching assistant</h3>

<p>NUI Maynooth, Kildare       <br/>Sept 2013 - May 2014</p>

<p>In the final year of my degree, I worked as Lab Demonstrator/Teaching Assistant
for the following classes:</p>

<p>Computer Systems:</p>

<ul><li>Introduced students to Linux</li><li>Shell programming.</li></ul>

<p>Introduction to Programming</p>

<ul><li>Basic programming concepts:</li><li>Simple algorithms and data structures</li><li>Control flow</li><li>Introductory problems involving Fibonacci numbers, Palindromes, etc.</li></ul>

<p>Introduction to Object Oriented Programming</p>

<ul><li>Concepts: Inheritence, Encapsulation, Polymorphism etc..</li><li>Basic patterns in Java</li></ul>

<hr/>

<h3>Intern Software Engineer</h3>

<p>My1Net, Hangzhou, China      <br/>                                                                                                       March 2013 - August 2013</p>

<p>I worked as an intern at My1Net for 5 months. During this time I learned Objective-C
and programming in the iOS and MacOS environments. I learned how to use version control
effectively and it was my first experience working as part of a team in an Agile environment.
My1Net developed 2D platform games for iPhone but were in the process of porting their
flagship game to Android when I worked there.</p>

<p>Environment migration was an area I worked on while there, and was required to write a program
that would batch process hierarchical .plist files containing game state information.
The files were interpreted as initialized as JSON objects, then converted into CSV
format, morphing the structure where necessary and accounting for encoding issues caused by
mandarin chinese.</p>

<h2>EDUCATION:</h2>

<hr/>

<p>NUI Maynooth Maynooth, Co. Kildare  </p>

<ul><li>B.Sc (Honours) Computer Science &amp; Software Engineering           </li><li>Graduated Sept. 2014</li></ul>

<p>Dublin Institute of Technology, Dublin</p>

<ul><li>B.Sc (Honours) Mathematics           </li><li>Currently Enrolled</li></ul>


                </main>
            </article>
  
        <footer></footer>
    </body>
</html>

