<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
        <link href='/normalize.css' rel='stylesheet' type='text/css'>
        <link href='/blog.css' rel='stylesheet' type='text/css'>
    </head>
    
    <body>


        <div id="nametitle">TADHG PHILIBIN E SILVA</div>
        <nav>
            <a id="home" href="/">Home</a> |
            <a id="about" href="/about">About</a> | 
            <a id="books2016" href="/books">2016 Reading list<a> 
        </nav>  
        
        <article>
                

              <main id="mainContent">


</br><h3><b>Titan: The Life of John D. Rockefeller, Sr.</b></h3>
- Ron Chernow
               
 
 
</br></br><h3><b>Why Programs Fail: A Guide to Systematic Debugging</b></h3>
- Andreas Zeller
 
</br></br><h3><b>JavaScript Patterns</b></h3>
- Stoyan Stefanov
 
 
</br></br><h3><b>Eloquent JavaScript: A Modern Introduction to Programming, 2nd Edition</b></h3>
- Marijn Haverbeke
<p>
                As for this book, Haverbeke is a great writer who mixes in solid theory with fun and practical examples.His book is also available online with an interactive interpreter allowing you to try out the code snippets inline. The book advances quite quickly and might not suit a novice developer, but anybody that already has experience with a different language will be able to manage quite comfortably. 
 </p>
</br></br><h3><b>The First Tycoon: The Epic Life of Cornelius Vanderbilt</b></h3>
- T.J. Stiles
 
</br></br><h3><b>Debug It!: Find, Repair, and Prevent Bugs in Your Code</b></h3>
- Paul Butcher
 
 
</br></br><h3><b>Debugging: The 9 Indispensable Rules for Finding Even the Most Elusive Software and Hardware Problems</b></h3>
- David J. Agans
 
 
</br></br><h3><b>Ulysses</b></h3>
- James Joyce
 
 
</br></br><h3><b>Roadcraft: The Police Driver's Handbook</b></h3>
- Philip Coyne
 
 
</br></br><h3><b>The Odyssey</b></h3>
- Homer
 
 
</br></br><h3><b>All the Light We Cannot See</h3></b>
- Anthony Doerr
 
 
</br></br><h3><b>The Iliad</b></h3>
- Homer
 
 
</br></br><h3><b>It's Not Carpal Tunnel Syndrome!: RSI Theory and Therapy for Computer Professionals</b></h3>
- Suparna Damany
 
 
</br></br><h3><b>The Architecture of Happiness</b></h3>
- Alain de Botton
 
 
</br></br><h3><b>How Much Land Does A Man Need?</b></h3>
- Leo Tolstoy

</br></br><h3><b>Love in the Time of Cholera</b></h3>
- Gabriel García Márquez
<p>
                -- I read this with my girlfriend. I chose the book because I had read One Hundred Years of Solitude by the same author and really enjoyed it. It wasn't quite as good as OHYoS but it was still had lots of memorable moments. It was also a good choice as a book to read together. There were plenty of scenes to talk about and differing opinions about the characters - we got quite a lot of discussion out of it.
</p>
</br></br><h3><b>Clean Code: A Handbook of Agile Software Craftsmanship</b></h3>
- Robert C. Martin
<p> 
                -- This is a great book and I'd recommend it to all junior developers that want to learn the basics of well designed software. It's also a good introduction to Test-Driven Development. Martin builds his examples incrementally throughout the book and it gives a great indication of what good software design is supposed to look like in practice. He even builds the basics of the JUnit library, and it's nice to see how all sophisticated, well developed projects start off with a few rudimentary ideas.
</p> 
</br></br><h3><b>The Easy Way to Stop Smoking: Join the Millions Who Have Become Nonsmokers Using the Easyway Method</b></h3>
- Allen Carr
<p> 
                -- This is actually the second time I've given up smoking, both times with the help of this book. The first time I got a bit too confident and felt there was no way I could fall back into the trap, which inevitably did happen. This time, I'm in a better position. The way I see it, the book simply puts forward a bunch of arguments for why smoker's smoke, why they started and what keeps them hooked. It also convinces you that quitting is actually very easy. The arguements are more or less rephrased and put it different contexts for the length of the book. This doesn't sound very effective but it is. The idea is that by the end of the book, you can't help but feel that smoking is silly, and the ideas are so intrenched that when you start to feel pangs and question yourself, you are armed with these arguments and can quickly shut out the little voices as being nonsensicle.
</p>
</br></br><h3><b>John Adams</b></h3>
- David McCullough
<p>
               -- This is an excellent biography by an excellent biographer. This book shines light on the fortitude and unwavering tenacity of the man who would become the 2nd president of the united states. My understanding is that Adams has often been overshadowed by his predecessor (George Washinton) and his successor (Thomas Jefferson) due to their more iconic/glitzy roles in history, those being the general of the union army and writer of the declaration of independence, respectively. This book is a testament to the man who, moreso than any other, fought for the cause of independence both at home and abroad, rallying support and gaining recognition for the fledgling state.
</p>
                </main>
            </article>
  
        <footer></footer>
    </body>
</html>

